
@charset   "UTF-8";
body{

background-image: linear-gradient(to right, #f2bc57c7, #f2bc57,#f2bc57c7  );
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{

background-color: #731702;
padding: 30px;
font-size: 16px;
color: white;
margin: -10px;



}
div.fundo > img{

margin-left: -9px;
margin-top: 10px;


}

div > h1{

top: 40%;
margin-left: 100px;
}
nav{

text-align: center;


}
nav > a{
padding: auto;
padding: 10px;
margin: 0;
text-decoration: none;
transition-duration: 0.7s;
color: white;
text-shadow: white;

}
nav > a:hover{

background-color: #61130277;
border-radius: 5px;
text-decoration: underline;
}


.inicial{

background-color: #403C36;
margin: 30px;
margin-top: -16px;
text-align: justify;
box-shadow: 3px   5px 10px #ffffff96;
border-radius: 5px;

}
main > div > p{

color:white;
padding: 5px;

}

